body {
  margin: 0;
  background: black;
  overflow: hidden;
  font-family: Arial;
}

#scene {
  width: 100vw;
  height: 100vh;
}

.ui {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

button {
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  background: hotpink;
  color: white;
  margin: 5px;
}

p {
  color: white;
}